name: notebooks

#  networks:
#    base_proxy_network:
#      external: true

services:
  solarmed_modeling:
    container_name: solarmed_modeling
    build: .
    command: sh -c "uv run jupyter notebook --ip=0.0.0.0 --port=8888 --allow-root"
    # command: sh -c "tail -f /dev/null" # If you want to keep the container running and access it
    # The command below is to run the Jupyter Notebook server
    # command: sh -c ".venv/bin/activate && jupyter notebook --allow-root --ip=0.0.0.0 --port=8888"
    # ports:
    #   - "8889:8888"

    volumes:
      # Report notebooks
      - ./notebooks:/app/:rw

      # Auxiliary folders
      - ./data:/app/data # In the data folder place the experimental data and configuration files in the host
#        - $HOME/nextcloud-sync/synced_folders/data:/app/config:rw # This directory is a webDAV mount where the configuration files are read from, can also be updated
#        - $HOME/nextcloud-sync/synced_folders/med_operation_diary:/app/diary:rw # This directory is a webDAV mount where the reports will be stored

#      environment:
#        - NOTEBOOK_MODE=container

#      networks:
#        - base_proxy_network
#      labels:
#        - "traefik.enable=true"
#        - "traefik.http.routers.med_report_generator.rule=Host(`ai.psa.es`)"
#        - "traefik.http.routers.med_report_generator.entrypoints=web"
#        - "traefik.http.services.med_report_generator.loadbalancer.server.port=8888"
#
      # - "traefik.http.routers.med_report_generator.tls.certresolver=letsencryptresolver"
      # - "traefik.http.middlewares.med_report_generator-ipallowlist.ipallowlist.sourcerange=10.10.104.0/24, 10.10.105.0/24, 192.168.0.0/16, 193.146.147.0/24"
      # - "traefik.http.routers.med_report_generator.middlewares=error-pages-middleware"