name: notebooks

networks:
  proxy_network:
    driver: bridge

volumes:
  portainer-data:

services:

  # Reverse proxy
  traefik:
    container_name: reverse-proxy
    image: traefik:v3.1.2
    command: 
      - "--api.insecure=true" 
      - "--api.dashboard=true"
      - "--entrypoints.web.address=:80"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.docker.network=${COMPOSE_PROJECT_NAME}_proxy_network" 
      - "--api.debug=true"
      - "--log.Level=DEBUG"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=(Host(`ai.psa.es`) && (PathPrefix(`/traefik`)) || PathPrefix(`/api`))"
      - "traefik.http.routers.traefik.entrypoints=web"
      - "traefik.http.services.api@internal.loadbalancer.server.port=8080"
      - "traefik.http.routers.traefik.service=api@internal"
      - "traefik.http.routers.traefik.middlewares=error-pages-middleware"
      - "traefik.http.middlewares.strip.stripprefix.prefixes=/traefik"
      - "traefik.docker.network=${COMPOSE_PROJECT_NAME}_proxy_network"
    
    ports:
      - "80:80" # The HTTP port
      # - "8080:8080" # The Web UI (enabled by --api.insecure=true)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # So that Traefik can listen to the Docker events
    deploy:
      placement:
        constraints:
          - node.role == manager
    networks:
      - proxy_network
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "1024k"
        max-file: "10"
  
  # A container that exposes an API to show its IP address
  test_traefik:
    container_name: test_traefik
    image: traefik/whoami
    networks:
      - proxy_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.test_traefik.rule=(Host(`ai.psa.es`) && PathPrefix(`/test`))"

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - portainer-data:/data
    # ports:
    #   - 9000:9000
    networks:
      - proxy_network
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.portainer.rule=( Host(`ai.psa.es`) && PathPrefix(`/portainer`) )"
      - "traefik.http.routers.portainer.entrypoints=web"
      - "traefik.http.services.portainer.loadbalancer.server.port=9000"
      - "traefik.http.routers.portainer.middlewares=portainer@docker,error-pages-middleware"
      - "traefik.http.middlewares.portainer.stripprefix.prefixes=/portainer"
      - "traefik.docker.network=${COMPOSE_PROJECT_NAME}_proxy_network"
    logging:
      driver: "json-file"
      options:
        max-size: "1024k"
        max-file: "10"


  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # - .docker/config.json:/config.json
    command: --interval 30

    restart: unless-stopped
    environment:
      - WATCHTOWER_INTERVAL=30
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_INCLUDE_RESTARTING=true
      # - DOCKER_CONFIG= /config
    labels:
      - "com.centurylinklabs.watchtower.enable=true"


  error-pages:
    container_name: "error-pages"
    image: ghcr.io/tarampampam/error-pages:3.3
    networks:
      - proxy_network
    # ports:
    #   - 8081:8081
    environment:
      - "TEMPLATES_ROTATION_MODE=random-hourly"
      - LISTEN_PORT=8081
    labels:
      - "traefik.enable=true"
      # use as "fallback" for any NON-registered services (with priority below normal)
      - "traefik.http.routers.error-pages-router.rule=HostRegexp(`.+`)"
      - "traefik.http.routers.error-pages-router.priority=10"
      - "traefik.http.routers.error-pages-router.entrypoints=web"
      - "traefik.http.routers.error-pages-router.middlewares=error-pages-middleware"
      # "errors" middleware settings
      - "traefik.http.middlewares.error-pages-middleware.errors.status=400-599"
      - "traefik.http.middlewares.error-pages-middleware.errors.service=error-pages-service"
      - "traefik.http.middlewares.error-pages-middleware.errors.query=/{status}.html"
      # define service properties
      - "traefik.http.services.error-pages-service.loadbalancer.server.port=8081"


  solarmed_modeling:
    container_name: solarmed_modeling
    build:
      context: .
      dockerfile: Dockerfile.base
    working_dir: ${WORKDIR}
    command: uv run jupyter notebook --ip=0.0.0.0 --port=8890 --allow-root
    # command: sh -c "uv run jupyter notebook --ip=0.0.0.0 --port=8888 --allow-root"
    # command: sh -c "tail -f /dev/null" # If you want to keep the container running and access it
    # The command below is to run the Jupyter Notebook server
    # command: sh -c ".venv/bin/activate && jupyter notebook --allow-root --ip=0.0.0.0 --port=8888"
    ports:
      - "8890:8890"

    volumes:
      # Report notebooks
      - ./notebooks:${WORKDIR}/notebooks:rw

      # Auxiliary folders
      - ./data:${WORKDIR}/data # In the data folder place the experimental data and configuration files in the host
      #        - $HOME/nextcloud-sync/synced_folders/data:/app/config:rw # This directory is a webDAV mount where the configuration files are read from, can also be updated
      #        - $HOME/nextcloud-sync/synced_folders/med_operation_diary:/app/diary:rw # This directory is a webDAV mount where the reports will be stored

      #      environment:
      #        - NOTEBOOK_MODE=container
    networks:
      - proxy_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.notebook.rule=Host(`ai.psa.es`)"
      - "traefik.http.routers.notebook.entrypoints=web"
      - "traefik.http.services.notebook.loadbalancer.server.port=8890"

      # - "traefik.http.routers.med_report_generator.tls.certresolver=letsencryptresolver"
      # - "traefik.http.middlewares.med_report_generator-ipallowlist.ipallowlist.sourcerange=10.10.104.0/24, 10.10.105.0/24, 192.168.0.0/16, 193.146.147.0/24"
      # - "traefik.http.routers.med_report_generator.middlewares=error-pages-middleware"