# Compose to deploy a container that includes the code and environment to evaluate the different models and model calibrations
# of the solarMED-modeling repository
name: solarmed_modeling

services:
  solarmed-modeling:
    image: ghcr.io/juan11iguel/solarmed-modeling/main-latest:latest
    # image: ghcr.io/juan11iguel/solarmed-modeling/dev-latest:latest

    container_name: solarmed-modeling

    # The command below is to run a Jupyter Notebook server
    command: jupyter notebook --allow-root --ip=0.0.0.0 --port=8888
    # Alternatively, if you want to keep the container running but do nothing
    # command: ["tail", "-f", "/dev/null"]
    ports:
      - "8889:8888"

    volumes:
      - ./data:/app/data # In the data folder place the experimental data and configuration files in the host
    #   - ./solarMED-modeling:/app