name: Docker Image CI

on:
  push:
    branches: [ "main", "fsms", "dev" ]
    tags:
      - v**

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ vars.IMAGE_NAME }}:$(date +%s)

    - name: Create tags
      run: ${{ github.repository }}:${{ github.ref }}
