name: Docker Image CI

on:
  # When pushing a new tag to specific branches
  push:
    tags:
      - v**
    branches:
      - main
      - fsms
      - dev

  # Run manually
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ vars.IMAGE_NAME }}:${{ github.repository }}-${{ github.sha }}

    - name: Create tags
      run: |
        docker tag ${{ vars.IMAGE_NAME }}:${{ github.repository }}-${{ github.sha }} ${{ vars.IMAGE_NAME }}:${{ github.repository }}-latest
        docker tag ${{ vars.IMAGE_NAME }}:${{ github.repository }}-${{ github.sha }} ${{ vars.IMAGE_NAME }}:${{ github.repository }}-$(date +%s)
        
      # docker tag ${{ vars.IMAGE_NAME }}:${{ github.ref }}-${{ github.sha }} ${{ vars.IMAGE_NAME }}:${{ github.ref }}
      # docker tag ${{ vars.IMAGE_NAME }}:${{ github.ref }}-${{ github.sha }} ${{ vars.IMAGE_NAME }}:${{ github.ref }}-latest

      # To add the date to the tag: -$(date +%s)
      