name: Docker Image CI

on:
  # When pushing a new tag to specific branches
  push:
    tags:
      - v**
    branches:
      - main
      - fsms
      - dev

  # Run manually
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/solarmed-modeling

jobs:

  build-and-push-image:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Log in to the Container registry
      uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-${{ github.sha }}

    - name: Create tags
      run: |
        docker tag ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-${{ github.sha }} ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-latest
        docker tag ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-${{ github.sha }} ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-$(date +%s)

    - name: Push the Docker image
      run: |
        docker push ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-latest
        docker push ${{ env.IMAGE_NAME }}:${{ github.ref_name }}-$(date +%s)


      # docker tag ${{ env.IMAGE_NAME }}:${{ github.ref }}-${{ github.sha }} ${{ env.IMAGE_NAME }}:${{ github.ref }}
      # docker tag ${{ env.IMAGE_NAME }}:${{ github.ref }}-${{ github.sha }} ${{ env.IMAGE_NAME }}:${{ github.ref }}-latest

      # To add the date to the tag: -$(date +%s)
      